*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
body{
    background:url(assets/bg-mobile.jpg) no-repeat top center/cover;
    color: white;
}
#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
    border:1px solid red;
}


