@charset "UTF-8";

@media screen and (min-width: 600px) {
    #conteudo > h1 {
        font-size: 6em ; 
    }

    #social-links{
        font-size: 30px;
    }
}
@media (min-width:768px){
    :root{
        --bg-url:url(../assets/bg-desktop.jpg);
    }
    
    .light{
        --bg-url:url(../assets/bg-desktop-light.jpg);
    }
}
@media (min-width:768px) and (max-width: 992px){
    #social-links{
        font-size: 35px;
    }
}
@media (min-width:992px){
    #social-links{
        font-size: 40px;
    }
}