@charset "UTF-8";

@media screen and (max-width: 600px) {
  #conteudo > h3 {
    text-align: center;
    font-size: 15px;
  }
  #conteudo > h1 {
    font-size: 3.7em;
    text-align: center;
  }
  #conteudo > p {
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  #conteudo > h1 {
    font-size: 5em;
  }
  #conteudo > p{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  :root {
    --bg-url: url(../assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-desktop-light.jpg);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #conteudo > h1 {
    font-size: 6em;
  }
  #social-links {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  #conteudo > h1 {
    font-size: 6em;
  }
  #social-links {
    font-size: 40px;
  }
}
