*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --text-color:white;
    --bg-url:url(../assets/bg-mobile.jpg);
    --stroke-color:rgba(255,255,255,0.5);
    --surface-color:rgba(255,255,255,0.1);
    --surface-color-hover:rgba(0,0,0,0.02);
    --highlight-color:rgba(255,255,255,0.2);
    --switch-bg-url:url(../assets/moon-stars.svg);

}
.light{
    --text-color:black;
    --bg-url:url(../assets/bg-mobile-light.jpg);
    --surface-color:rgba(0, 0, 0, 0.05);
    --surface-color-hover:rgba(0, 0, 0, 0.02);
    --highlight-color:rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../assets/sun.svg);
}
body{
    background:var(--bg-url) no-repeat top center/cover;
    min-height: 100vh;
}
body *{
    font-family: 'Source Code Pro',monospace, 'Poppins';
    color: var(--text-color);
}
#container{
    width: 100%;
    max-width: 554px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
#switch{
    position: relative;
    width: 64px;
    margin: 64px auto;
}
#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) center no-repeat;
    border: 0;
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}
.light #switch button{
    animation:slide-in 0.2s forwards;
}
#switch button:hover{
    outline:8px solid var(--highlight-color);
}
#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}
#conteudo{
    margin: auto;
    max-width: 500px;
}
#conteudo > h3{
    display: block;
    text-align: left;
    padding: 9px 7px;
    font-size: 20px;
    font-weight: bold;
}
#conteudo > h1{
    display: block;
    text-align: center;
    font-size: 6em;
    font-family: 'Poppins', Arial;
    line-height: 0.9em;
}
#conteudo > p{
    text-align: right;
    margin:10px;
    margin-top: 50px;
    padding: 5px;
    max-width: 450px;
    font-size: 20px;
    font-weight: normal;
}
#social-links{
    display: flex;
    justify-content: center;

    padding: 24px 0;
    font-size: 24px;
}
#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
    transition: background 0.2s;
    border-radius: 50%;
}
#social-links a:hover{
    background-color: var(--highlight-color);
}
@media (min-width:700px){
    :root{
        --bg-url:url(../assets/bg-desktop.jpg);
    }
    
    .light{
        --bg-url:url(../assets/bg-desktop-light.jpg);
    }
}
@keyframes slide-in{
    from{
        left:0;
    }
    to{
        left:50%;
    }
}
@keyframes slide-back{       
    from{
        left: 50%;
    }
    to{
          left: 0;
        }
    }