@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/moon-stars.svg);
  --color-bg-1: #0A192F;
  --color-bg-2: #2F3B4E;
  --color-h1: #cdcdcd;

}

body * {
  font-family: "Source Code Pro", monospace, "Poppins";
  color: var(--text-color);
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--color-bg-1);
  background: -webkit-linear-gradient(to left, #8f94fb, #0A192F);
  width: 100%;
  height: 100%;
  pointer-events: none;


}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 2vw;
  height: 2vw;
  background: var(--color-bg-2);
  animation: animate 25s linear infinite;
  bottom: -15vh;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}






#container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 595px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#conteudo {
  margin: auto;
  max-width: 600px;
}

#conteudo>h3 {
  display: block;
  text-align: auto;
  padding: 9px 7px;
  font-size: 20px;
  font-weight: bold;
}

#conteudo>h1 {
  display: inline-block;
  margin: auto;
  font-size: 5em;
  margin-bottom: 40px;
  font-family: "Poppins", Arial;
  color: var(--color-h1);
  font-weight: bold;
  line-height: 0.9em;

}

.typewriter::after {
  content: '|';
  display: inline-block;
  animation: blink-caret 0.75s infinite alternate;
}



#conteudo>p {
  text-align: right;
  margin: 10px 0;
  font-size: 20px;
  font-weight: lighter;
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.4s;
  border-radius: 40%;
}

#social-links a:hover {
  background-color: var(--highlight-color);
  transform: translate(-2px, -2px);
  transition: transform 0.3s;
}

@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

@keyframes blink-caret {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: var(--text-color);
  }

  to {
    border-right-color: transparent;
  }
}