
        * {
            margin: 0;
            bottom: 0;
        }

        :root {
            --corpadrao: black;
            --corsubtitulo: #5271FF;
            --tamanhopadrao:1.2em;
            --cordefundo: rgb(255, 253, 253);
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: var(--cordefundo);
        }

        header {
            text-align: center;
            padding-top: 20px;
        }

        header>h1 {
            color: var(--corpadrao);
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 20px;
            letter-spacing: 6px;
        }
        header > h2 {
            padding-bottom: 10px;
        }

        span {
            display: block;
            width: 70em;
            height: 1px;
            margin: auto;
            border-radius: 9999px;
            background-color: black;
        }

        header>p {
            font-size: 1.2em;
            text-align: justify;
            max-width: 647px;
            padding-left: 10px;
            margin: auto;
            margin-bottom: 30px;
            margin-top: 20px;
            word-spacing: 5px;
            line-height: 30px;
        }
        main>div>h2{
            color: var(--corsubtitulo);
            font-family: 'Raleway', sans-serif;
            letter-spacing: 5px;
        }
        main>div>div>h2 {
            color: var(--corsubtitulo);
            font-family: 'Raleway', sans-serif;
            letter-spacing: 5px;
        }
        .experiencia {
            border-radius: 10px;
            text-align: left;
            max-width: 600px;
            margin:0px 20px;
            margin-left: 5em;
            margin-bottom: 5em;
            
        }
        .experiencia h2{
            margin: 20px 0px;
        }
        .experiencia p, ul{
            font-size: var(--tamanhopadrao);
            margin: 20px 0 auto;
        }
        p.width-diminuida{
            max-width: 240px;
        }
        .experiencia ul{
            margin-top: 10px;
        }
        
        .container-subtitles{
            margin: 20px;
            margin-left: 5em;
            margin-bottom: 5em;
            max-width: 600px;
        }
        .container-subtitles h2{
            margin: 10px 0px;
        }
        .container-subtitles p{
            padding: 5px;
        }


        @media screen and (min-width:769px){
            main{
                display: flex;
                direction: column;
                align-items: flex-start;
            }
            div.container-subtitles{
                width: 55%;
                margin-left: auto;
                margin-right: 20px;
                margin-bottom: 15em;
                margin-top: 4em;
            }
            .experiencia{
            margin-top: 5em;
            margin-left: 5em;
            }
            .container-subtitles{
                display: inline-block;
                margin-left: 20px;
            }
            footer{
                clear:both;
            }

        }
    footer{

            background-color: var(--corsubtitulo);
            color: white;
            text-align: center;
            font-size: 0.8em;
            font-family: 'Ralewey',sans-serif;
            letter-spacing: 5px;
            padding: 5px;

            }
          
          footer a {
            color: white;
            font-weight: bolder;
            text-decoration: none;
          }
          footer a:hover {
            text-decoration: underline;
            color: var(--corpadrao);
          }
          
    